<h1>Impossibility Proof</h1>

In [1]:
import pandas as pd
import numpy as np

In [2]:
def simple_proof(area_of_board, area_of_tile):
    # This proof is incorrect some of the times
    # detailed below
    if area_of_board % area_of_tile == 0:
        print('Can tile board')
    else:
        print("Can't tile board")
        
print("Full Board:")   
simple_proof(area_of_board=8*8, area_of_tile=1*2)
print('\n')
print("One Corner Cut:")
simple_proof(area_of_board=((8*8)-1), area_of_tile=1*2)
print('\n')
print("Two Corner Cut:")
simple_proof(area_of_board=((8*8)-2), area_of_tile=1*2)

Full Board:
Can tile board


One Corner Cut:
Can't tile board


Two Corner Cut:
Can tile board

<h1>Theorem</h1>
<p>An 8x8 chess board without two opposite corners cannot be tiled by 1x2 dominos</p>
<h4>Proof</h4>
<ul>
    <li>black & white cells 4 black / 4 white</li>
    <li>opposite corners are black</li>
     <li>30 black 32 white</li>
    <li>domino: two different colors</li>
    <li>two white remain</li>
    <li>quod erat demonstrandum</li>
    <ul>
        <li>Latin: that's what we wanted to prove</li>
    </ul>
</ul>

In [3]:
black=1
white=2
removed=9

square = [black, white]
inv_square = square[::-1]

init_board = []
for x in range(8):
    if x%2 == 0:
        row = square * 4
    else:
        row = inv_square*4
    init_board.append(row)


init_board = pd.DataFrame(init_board)
domino = pd.Series(square)

print('Inital Condition:')
print('Full init_board')
print('Black tiles:')
print(init_board.where(init_board==black).count().sum())
print('White tiles:')
print(init_board.where(init_board==white).count().sum())
#init_board

Inital Condition:
Full init_board
Black tiles:
32
White tiles:
32

In [4]:
def remove_two_white_tiles(inp_board):
    board = inp_board.copy()
    while board.where(board == removed).count().sum() < 2:
        random_loc = np.random.randint(low=0, high=7, size=2)
        test_loc = board.at[random_loc[0], random_loc[1]]
        if test_loc == white:
            board.at[random_loc[0], random_loc[1]]=removed
    return board
        
removed_white_tiles = remove_two_white_tiles(init_board)
#removed_white_tiles

In [5]:
def remove_one_corner(inp_board):
    board = inp_board.copy()
    board.at[0,0]=removed
    return board
        
removed_one_corner = remove_one_corner(init_board)
# removed_one_corner

In [6]:
def remove_top_corners(inp_board):
    board = inp_board.copy()
    board.at[0, 0]=removed
    board.at[0, 7]=removed
    return board
        
removed_top_corners = remove_top_corners(init_board)
# removed_top_corners

In [7]:
def remove_opp_corners(inp_board):
    board = inp_board.copy()
    board.at[0, 0]=removed
    board.at[7, 7]=removed
    return board
        
removed_opp_corners = remove_opp_corners(init_board)
# removed_opp_corners

In [8]:
def proof(board):
    black_tiles = board.where(board==black).count().sum()
    white_tiles = board.where(board==white).count().sum()
    if black_tiles == white_tiles:
        print("Can tile board")
    else:
        print("Can't tile board")


print("Initial Board:")   
proof(init_board)
print('\n')
print("One Corner Cut:")
proof(removed_one_corner)
print('\n')
print("Top Two Corners Cut:")
proof(removed_top_corners)
print('\n')
print("Opp Corners Cut:")
proof(removed_opp_corners)
print('\n')
print("Removed Two Random White Tiles Board:")   
proof(removed_white_tiles)

Initial Board:
Can tile board


One Corner Cut:
Can't tile board


Top Two Corners Cut:
Can tile board


Opp Corners Cut:
Can't tile board


Removed Two Random White Tiles Board:
Can't tile board

In [9]:
# Quiz:
tile = 8
q12 = pd.DataFrame([
    [black, white, black, removed, removed, removed, removed],
    [white, black, white, removed, removed, removed, removed],
    [black, white, black, removed, removed, removed, removed],
    [removed, removed, white, removed, removed, removed, removed],
    [removed, removed, black, removed, removed, removed, removed],
    [removed, removed, white, removed, white, black, white],
    [removed, removed, black, removed, black, white, black],
    [removed, removed, 'a', black, white, black, white]
])

    
def place_tile(inp_board, tile_placement):
    board = inp_board.copy()
    board.at[7,2] = tile
    if tile_placement == 'horizontal':
        board.at[7,3] = tile
    else:  # 'vertical'
        board.at[6,2] = tile
    return board

<p>1) Question 1
Consider the following shape that we want to tile by 1Ã—2 tiles. (This means that the tiles should be inside the green zone and cover the entire green zone without overlaps)</p>
<p>Is it possible if we cover the cell "a" by a <b>horizontal tile</b>?</p>

In [10]:
q1 = place_tile(q12, 'horizontal')
proof(q1)

Can tile board

<b>This is not correct however</b>
<p>There are two boards split by column 3</p>

In [11]:
q1

   0  1  2  3  4  5  6
0  1  2  1  9  9  9  9
1  2  1  2  9  9  9  9
2  1  2  1  9  9  9  9
3  9  9  2  9  9  9  9
4  9  9  1  9  9  9  9
5  9  9  2  9  2  1  2
6  9  9  1  9  1  2  1
7  9  9  8  8  2  1  2

<p>split by column 3 where there are no black (#1) or white (#2) tiles</p>

In [12]:
q1[3]

0    9
1    9
2    9
3    9
4    9
5    9
6    9
7    8
Name: 3, dtype: int64

In [13]:
q1_b1 = q1.transpose()[:3].transpose()
q1_b1

   0  1  2
0  1  2  1
1  2  1  2
2  1  2  1
3  9  9  2
4  9  9  1
5  9  9  2
6  9  9  1
7  9  9  8

In [14]:
q1_b2 = q1.transpose()[4:].transpose()
q1_b2

   4  5  6
0  9  9  9
1  9  9  9
2  9  9  9
3  9  9  9
4  9  9  9
5  2  1  2
6  1  2  1
7  2  1  2

In [15]:
proof(q1_b1)
proof(q1_b2)

Can't tile board
Can't tile board

<h4>Q1 true answer</h4>
<p>"No"</p>

<p>2) Consider the following shape (the same as in the previous question) that we want to tile by 1Ã—2 domino tiles. (This means that the tiles should be inside the green zone and cover the entire green zone without overlaps).</p>

<p>Now we want to tile it by dominos covering "a" by <b>a vertical  tile</b>. Is it possible?</p>

In [16]:
q2 = place_tile(q12, 'vertical')
# q2

<p>This also creates two boards</p>

In [17]:
q2_b1 = q2.transpose()[:3].transpose()
# q2_b1

In [18]:
q2_b2 = q2.transpose()[3:].transpose()
# q2_b2

In [19]:
proof(q2_b1)
proof(q2_b2)

Can tile board
Can tile board

<h4>Q2 answer</h4>
<p>"Yes"</p>

3) A cell is good if the board without this cell can be tiled by domino 1Ã—2 tiles. What is the number of good cells? (Just write a number in the answer field)

<p>In other words, you want to delete one cell in such a way that the rest can be tiled. How many options do you have? For example, if you delete the left upper corner, you can tile the rest using vertical tiles in the first column and horizontal tiles elsewhere. So the left upper corner is good. Some other cells (e.g., the other corners) are good, but not all. You need to count the good cells.)</p>

In [20]:
q3_board = []
for x in range(5):
    if x % 2 == 0:
        row = [black, white, black, white, black]
    else:
        row = [white, black, white, black, white]
    q3_board.append(row)


q3_board = pd.DataFrame(q3_board)
#q3_board

In [21]:
print("Q3:")
proof(q3_board)

Q3:
Can't tile board

In [22]:
black_tiles=q3_board.where(q3_board==black).count().sum()
white_tiles=q3_board.where(q3_board==white).count().sum()
print(black_tiles)
print(white_tiles)

13
12

In [23]:
removed_black_tile = remove_one_corner(q3_board)
proof(removed_black_tile)

Can tile board

<h4>Q3 answer</h4>
<p>13</p>
<p>Reason: remove 1 black tile to become able to tile. So 13 "good tiles"</p>

<h1>My Question to staff</h1>
<p>Above I reasoned that my proof (in cell 8) was correct. But I needed to realize that the given board dataframes q1 (in cell 10) and q2 (in cell 14) were actually two seperate boards.</p>
<p>q1 is fairly obvious because column 3 has no black or white tiles (represented by 1 or 2)</p>

In [24]:
q1[3]

0    9
1    9
2    9
3    9
4    9
5    9
6    9
7    8
Name: 3, dtype: int64

<p>q2 is less obvious to me because there isn't a seperating row or column that is all 9 (invalid square) or 8 (tile from question)</p>

In [25]:
q2_b1

   0  1  2
0  1  2  1
1  2  1  2
2  1  2  1
3  9  9  2
4  9  9  1
5  9  9  2
6  9  9  8
7  9  9  8

In [26]:
q2_b2

   3  4  5  6
0  9  9  9  9
1  9  9  9  9
2  9  9  9  9
3  9  9  9  9
4  9  9  9  9
5  9  2  1  2
6  9  1  2  1
7  1  2  1  2

In [27]:
q2

   0  1  2  3  4  5  6
0  1  2  1  9  9  9  9
1  2  1  2  9  9  9  9
2  1  2  1  9  9  9  9
3  9  9  2  9  9  9  9
4  9  9  1  9  9  9  9
5  9  9  2  9  2  1  2
6  9  9  8  9  1  2  1
7  9  9  8  1  2  1  2

<p>Could you help guide me to an answer?</p>
<p>Is there a better way to approach this?</p>