In [1]:
import numpy as np
import pandas as pd
import string

<h3>Existential</h3>
<p>A factory produces milk chocolate @ \$10/box and dark chocolate @ \$30/box. The daily demands are 500 and 200 boxes for milk and dark chocolate, respectively. The factory produces 600 boxes of chocolate per day. 
    
<p>What is the optimum production plan?</p>

In [2]:
price_milk = 10 #$/box
price_dark = 30 #$/box

demand_dark = 200 # boxes
demand_milk = 500 # boxes
capacity_daily = 600 # boxes

claim = 10000 # $/day

<p>Plan: produce 400 boxes of milk chocolate and 200 boxes of dark chocolate per day</p>

In [3]:
to_make_milk = 400
to_make_dark = 200

profit = to_make_milk * price_milk + to_make_dark * price_dark
profit

10000

<h3>Univseral Part</h3>
<h4>All plans are not better</h4>
<p>rules:</p>
<p>lte: less than or equal to</p>
<ol>
    <li>m lte 500</li>
    <li>d lte 200</li>
    <li>m+d lte 600</li>
    <li>10m+30d lte 10000</li>
</ol>
<p>sum inequalities:</p>
<ul>
    <li>10m+10d lte 6000 </li>
    <li>20d lte 4000</li>
</ul>

<h4>Question 1</h4>
<p>There are 90 cards with all two-digit numbers on them: </p>
<p>10,11,12,...,98,99.</p>
 

</p>A player takes some of these cards simultaneously. For each card taken she gets 1 dollar. However, if the player takes two cards that add up to 100, eg: 23 and 77, she loses all the money. How much could she get? </p>

<p>In mathematical language: What is the maximum number of two-digit integers (10,11,...,99) that one can select satisfying the following condition: no two different selected integers have sum 100?</p>

In [4]:
# if 10 then no 90, 11 ...89, etc
# 40 pairs from 10-90
# 10 pairs 50,91,92...99
_max = 99
_min = 10
_10_99 = [x for x in range(_min, _max + 1)]
pairs = []
alone = []
for i in _10_99:
    diff = 100 - i
    pair = (i, diff)
    if (diff, i) in pairs:
        pass
    elif diff == i:
        alone.append(pair)
    elif _max > diff > _min:
        pairs.append(pair)
    else:
        alone.append(pair)
        
        
len(pairs)+len(alone)

50

<h1>Pigeonhole Principle</h1>
<p>lt = less than</p>
<p>If n number of pigeons to be places in m number of holes. The box must have m lt n holes</p>

<p>Rooks can only be in 1 row / col. So 8 in an 8x8 chesssub_board</p>

In [5]:
# knights on a chessboard
# repartition the 8x8 board into 8 4x2 boards
A_D = [letter for letter in string.ascii_uppercase[:4]]
sub_board = pd.DataFrame([
    [0,0],
    [0,0],
    [0,0],
    [0,0],
], columns=[1,2], index=A_D)
sub_board

   1  2
A  0  0
B  0  0
C  0  0
D  0  0

In [6]:
# a knight (1) in D1 can attack (9) B2
sub_board.at['D',1]=1
sub_board.at['B',2]=9
# symetrical pair (k @ B1  attacks D2)
sub_board.at['B',1]=1
sub_board.at['D',2]=9
# knight @ A2 attacks C1
sub_board.at['A',2]=1
sub_board.at['C',1]=9
# symetrical pair (k @ C1  attacks A2)
sub_board.at['C',2]=1
sub_board.at['A',1]=9
sub_board

   1  2
A  9  1
B  1  9
C  9  1
D  1  9

In [7]:
knights_per_sub_board = sub_board[sub_board==1].dropna(axis=1, how='all').to_numpy().sum()
chessboard = 8*8
sub_board_per_chessboard = chessboard / sub_board.size
sub_board_per_chessboard * knights_per_sub_board

nan

In [8]:
# bishops on a chessboard
# partition into 15 diagonals
A_H = [letter for letter in string.ascii_uppercase[:8]]
_1_8 = [number for number in range(1,9)]
chessboard = pd.DataFrame([
    [0 for x in range(8)] for x in range(8)
], columns=_1_8, index=A_H)
chessboard

   1  2  3  4  5  6  7  8
A  0  0  0  0  0  0  0  0
B  0  0  0  0  0  0  0  0
C  0  0  0  0  0  0  0  0
D  0  0  0  0  0  0  0  0
E  0  0  0  0  0  0  0  0
F  0  0  0  0  0  0  0  0
G  0  0  0  0  0  0  0  0
H  0  0  0  0  0  0  0  0

In [9]:
chessboard.at["A", 1] = 1
chessboard.at["H", 8] = 1

In [10]:
chessboard

   1  2  3  4  5  6  7  8
A  1  0  0  0  0  0  0  0
B  0  0  0  0  0  0  0  0
C  0  0  0  0  0  0  0  0
D  0  0  0  0  0  0  0  0
E  0  0  0  0  0  0  0  0
F  0  0  0  0  0  0  0  0
G  0  0  0  0  0  0  0  0
H  0  0  0  0  0  0  0  1

In [11]:
for col in range(1,9):
    for row, letter in enumerate(A_H):
        r = row + 1
        chessboard.at[letter, col] = col/r

In [12]:
# shape returns (rows, cols)
chess_rows = chessboard.shape[0]
_0_7 = np.arange(8)
chessboard.values[[_0_7] * 2]

<ipython-input-12-2c40fefc4ff9>:4: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  chessboard.values[[_0_7] * 2]

array([1, 1, 1, 1, 1, 1, 1, 1])

In [13]:
chessboard[1]

A    1
B    0
C    0
D    0
E    0
F    0
G    0
H    0
Name: 1, dtype: int64

In [14]:
list(_0_7)

[0, 1, 2, 3, 4, 5, 6, 7]

In [15]:
np.fill_diagonal(chessboard.values, 1)

In [16]:
chessboard

   1  2  3  4  5  6  7  8
A  1  2  3  4  5  6  7  8
B  0  1  1  2  2  3  3  4
C  0  0  1  1  1  2  2  2
D  0  0  0  1  1  1  1  2
E  0  0  0  0  1  1  1  1
F  0  0  0  0  0  1  1  1
G  0  0  0  0  0  0  1  1
H  0  0  0  0  0  0  0  1

In [17]:
chessboard

   1  2  3  4  5  6  7  8
A  1  2  3  4  5  6  7  8
B  0  1  1  2  2  3  3  4
C  0  0  1  1  1  2  2  2
D  0  0  0  1  1  1  1  2
E  0  0  0  0  1  1  1  1
F  0  0  0  0  0  1  1  1
G  0  0  0  0  0  0  1  1
H  0  0  0  0  0  0  0  1

In [18]:
chessboard.values[0]

array([1, 2, 3, 4, 5, 6, 7, 8])

Choose the maximal number of integers among 1..50 that can be selected if we are not allowed to select n and 2n at at same time.

In [19]:
_max = 50
_min = 1
_1_50 = [x for x in range(_min, _max + 1)]
poss = []
not_poss = []
i = 0
while len(_1_50) != 0:
    n = _1_50[i]
    _2n = 2 * n
    if _2n in _1_50:
        _2n_ind = _1_50.index(_2n)
        _1_50.pop(_2n_ind)
        not_poss.append(_2n)
    else:
        n_ind = _1_50.index(n)
        _1_50.pop(n_ind)
        poss.append(n)
    
print(len(poss))

33

In [39]:
# chains that can't happen
def odd(n):
    nums = []
    for i in range(1, 2*n, 2):
        nums.append(i)
    return nums

odds = odd(25) #1..49

chains = {}
for i in odds:
    chains[i]=[]
    for x in range(5)

    
_3_chain

[1, 192, 384, 768, 1536]

In [40]:
len(odds)

25