In [1]:
# N queens
# 8 queens
import numpy as np
import pandas as pd
import string

A_H = [letter for letter in string.ascii_uppercase[:8]]
_0_7 = [number for number in range(8)]
chessboard = pd.DataFrame([
    ['0' for x in range(8)] for x in range(8)
], columns=_0_7, index=_0_7)
queen = "Q"
unavail = 'U'
chessboard

   0  1  2  3  4  5  6  7
0  0  0  0  0  0  0  0  0
1  0  0  0  0  0  0  0  0
2  0  0  0  0  0  0  0  0
3  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0
5  0  0  0  0  0  0  0  0
6  0  0  0  0  0  0  0  0
7  0  0  0  0  0  0  0  0

In [7]:
def fill_row(row):
    for col in _0_7:
        _at = chessboard.at[row, col]
        if _at != queen:
            chessboard.at[row, col] = unavail

            
def fill_col(col):
    for row in _0_7:
        _at = chessboard.at[row, col]
        if _at != queen:
            chessboard.at[row, col] = unavail


def fill_diag(row, col):
    for i in _0_7:
        row = i
        col = i
        _at = chessboard.at[row, col]
        if _at != queen:
            chessboard.at[row, col] = unavail
    
def place_queen(row, col):
    fill_row(row)
    fill_col(col)
    fill_diag(row,col)
    chessboard.at[row,col]=queen

In [8]:
place_queen(0,0)
chessboard

   0  1  2  3  4  5  6  7
0  Q  U  U  U  U  U  U  U
1  U  U  0  0  0  0  0  0
2  U  0  U  0  0  0  0  0
3  U  0  0  U  0  0  0  0
4  U  0  0  0  U  0  0  0
5  U  0  0  0  0  U  0  0
6  U  0  0  0  0  0  U  0
7  U  0  0  0  0  0  0  U

In [ ]:
row = 4
col = 0

    _at = chessboard.at[row, col]
        if _at != queen:
            chessboard.at[row, col] = unavail