In [1]:
import pandas as pd
import numpy as np

In [2]:
# https://docs.python.org/3.8/tutorial/errors.html#user-defined-exceptions

class Error(Exception):
    """Base class for exceptions in this module."""
    pass


class InputError(Error):
    """Exception raised for errors in the input.

    Attributes:
        expression -- input expression in which the error occurred
        message -- explanation of the error
    """

    def __init__(self, expression, message):
        self.expression = expression
        self.message = message

<h1>Summing Magic Squares</h1>

<p>In this problem we are looking for a table where all rows and cols sum to the same number (z)</p>
<p>a-i are the numbers 1-9</p>

<table>
    <tr>
        <td>a</td>
        <td>b</td>
        <td>c</td>
        <td>z</td>
    </tr>
    <tr>
        <td>d</td>
        <td>e</td>
        <td>f</td>
        <td>z</td>
    </tr>
    <tr>
        <td>g</td>
        <td>h</td>
        <td>i</td>
        <td>z</td>
    </tr>
        <tr>
        <td>z</td>
        <td>z</td>
        <td>z</td>
        <td>z</td>
    </tr>
</table>

In [17]:
class MagicSquare:
    """
    Class that creates a 'magic' square pandas DataFrame where all rows,
    columns, and diagonals sum to the same number
    
    Inputs:
        - Size: integer
    """
    def __init__(self, size):
        self.size = size
        self.cost = np.math.factorial(self.size**2)
        self.original_df = pd.DataFrame(np.arange(self.size**2).reshape(self.size, self.size)) + 1
        self.df = self.original_df.copy() 
        self.square_total = self.original_df.values.sum()
        self.row_total = self.square_total / self.size
        self.available_numbers = pd.Series(self.original_df.to_numpy().flatten())
        self.test = self.Test(self)
            
    def update_df(self, row, col, val):
        if val not in self.available_numbers.values:
            print(self.available_numbers)
            print(val)
            raise InputError(val, f"""
            Error: {val} is not an available number. Numbers must be between 
            {self.available_numbers.min()} and {self.available_numbers.max()}
            """)
        #TODO: Copy pasted code block
        #up date to make error for row/col if > self.size
        if val not in self.available_numbers.values:
            print(self.available_numbers)
            print(val)
            raise InputError(val, f"""
            Error: {val} is not an available number. Numbers must be between 
            {self.available_numbers.min()} and {self.available_numbers.max()}
            """)
        #TODO End Copy Paste
        else:
            self.df.at[row, col] = val
            
    class Test:
        def __init__(self, magic_square):
            self.magic_square = magic_square
            self.df = magic_square.df
            self.errors = []
            self.passed = []

        def check_run(self, run_bool, error_bool, message):
            if error_bool:
                if run_bool:
                    self.errors.append(message)
                else:
                    print('Failed:', message)
            else:
                if run_bool:
                    self.passed.append(message)
                else:
                    print('Passed:', message)


        def duplicate_values(self, run=False):
            msg = 'No duplicate values found'
            if self.df.values.sum() != self.magic_square.square_total:
                incorrect_values = pd.Series(self.df.to_numpy().flatten())
                msg = ','.join(list(incorrect_values[incorrect_values.duplicated()].astype(str)))
                msg = f'{msg} are duplicated.' 
                self.check_run(run, True, msg)
            else:
                self.check_run(run, False, msg)


        def rows(self, run=False):
            row_errors = []
            for j in range(self.magic_square.size):
                if self.df[j].sum() != self.magic_square.row_total:
                    row_errors.append(j)
            if len(row_errors) > 0:
                row_errors = pd.Series(row_errors)
                row_errors_str = row_errors.astype(str)
                if row_errors.size == 1:
                    msg = f'Row {row_errors_str[0]} is incorrect'
                else:
                    msg = ','.join(list(row_errors_str))
                    msg = f'Rows {msg} are incorrect'
                self.check_run(run, True, msg)
            else:
                self.check_run(run, False, 'Row sums are correct.')
                

        def columns(self, run=False):
            col_errors = []
            for j in range(self.magic_square.size):
                if self.df.iloc[j].sum() != self.magic_square.row_total:
                    col_errors.append(j)
            if len(col_errors) > 0:
                col_errors = pd.Series(col_errors)
                col_errors_str = col_errors.astype(str)
                if col_errors.size == 1:
                    msg = f'Col {col_errors_str[0]} is incorrect'
                    self.check_run(run, True, msg)
                else:
                    msg = ','.join(list(col_errors_str))
                    msg = f'Cols {msg} are incorrect'
                    self.check_run(run, True, msg)
            else:
                self.check_run(run, False, 'Column sums are correct.')


        def bottomTopDiagonal(self, run=False):
            msg = 'Sum of bottom to top diagonal is'
            if np.flipud(self.df.to_numpy()).diagonal().sum() != self.magic_square.row_total:
                msg += ' not correct'
                self.check_run(run, True, msg)
            else:
                msg += ' correct'
                self.check_run(run, False, msg)

        def topBottomDiagonal(self, run=False):
            msg = 'Sum of top to bottom diagnol is'
            if self.df.to_numpy().diagonal().sum() != self.magic_square.row_total:
                msg += ' not correct'
                self.check_run(run, True, msg)
            else:
                msg += ' correct'
                self.check_run(run, False, msg)


        def run(self):
            self.duplicate_values(True)
            self.rows(True)
            self.columns(True)
            self.bottomTopDiagonal(True)
            self.topBottomDiagonal(True)
            if len(self.errors) == 0:
                print('Passed All Tests!')
            else:
                print(f'{len(self.errors)} Tests Failed:')
                for i, error in enumerate(self.errors):
                    print(f'{i}: {error}')
                print(f'{len(self.passed)} Tests Passed')
                for i, passed in enumerate(self.passed):
                    print(f'{i}: {passed}')

            self.errors = []
            self.passed = []
    
        
    
s = MagicSquare(3)
print('There are ',s.cost,' available configurations')
print('Initial configuration')
s.df

There are  362880  available configurations
Initial configuration

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
print("A test of the initial configuration shows")
s.test.run()

A test of the initial configuration shows
2 Tests Failed:
0: Rows 0,2 are incorrect
1: Cols 0,2 are incorrect
3 Tests Passed
0: No duplicate values found
1: Sum of bottom to top diagonal is correct
2: Sum of top to bottom diagnol is correct

In [5]:
print(f"A {s.size} x {s.size} magic square's rows, columnss, and diagonals must = {s.row_total}")

A 3 x 3 magic square's rows, columnss, and diagonals must = 15.0

<p>Above we assigned assigned values in order</p>
<p>Below we are looking at a 3x3 square</p>
<table>
    <tr>
        <td>a</td>
        <td>b</td>
        <td>c</td>
        <td>15</td>
    </tr>
    <tr>
        <td>d</td>
        <td>e</td>
        <td>f</td>
        <td>15</td>
    </tr>
    <tr>
        <td>g</td>
        <td>h</td>
        <td>i</td>
        <td>15</td>
    </tr>
    <tr>
        <td>15</td>
        <td>15</td>
        <td>15</td>
        <td>15</td>
    </tr>
</table>

<p>A way to solve this w/o brute force is we sum the following four lines</p>
<table>
    <tr>
        <th>diagonal 1</th>
        <th>line1</th>
        <th></th>
    </tr>
    <tr>
        <td><b>a</b></td>
        <td>b</td>
        <td>c</td>
    </tr>
    <tr>
        <td>d</td>
        <td><b>e</b></td>
        <td>f</td>
    </tr>
    <tr>
        <td>g</td>
        <td>h</td>
        <td><b>i</b></td>
    </tr>
</table>

<table>
    <tr>
        <th>diagonal 2</th>
        <th>line2</th>
        <th></th>
    </tr>
    <tr>
        <td>a</td>
        <td>b</td>
        <td><b>c</b></td>
    </tr>
    <tr>
        <td>d</td>
        <td><b>e</b></td>
        <td>f</td>
    </tr>
    <tr>
        <td><b>g</b></td>
        <td>h</td>
        <td>i</td>
    </tr>
</table>

<table>
    <tr>
        <th>vertical</th>
        <th>line3</th>
        <th></th>
    </tr>
    <tr>
        <td>a</td>
        <td><b>b</b></td>
        <td>c</td>
    </tr>
    <tr>
        <td>d</td>
        <td><b>e</b></td>
        <td>f</td>
    </tr>
    <tr>
        <td>g</td>
        <td><b>h<b></td>
        <td>i</td>
    </tr>
</table>

<table>
    <tr>
        <th>horizontal</th>
        <th>line4</th>
        <th></th>
    </tr>
    <tr>
        <td>a</td>
        <td>b</td>
        <td>c</td>   
    </tr>
    <tr>
        <td><b>d</b></td>
        <td><b>e</b></td>
        <td><b>f</b></td>      
    </tr>
    <tr>
        <td>g</td>
        <td>h</td>
        <td>i</td>  
    </tr>
</table>

<h3>algebra</h3>
<p>total_sum = a+b+c+d+e+f+g+h+i = 45</p>
<p>total_sum = 3 * line_sum # given</p>
<p>all_lines = a+e+i+c+e+g+b+e+h+d+e+f</p>
<p>all_lines = 4 * line_sum = 60</p>
<p>all_lines = a+b+c+d+ <b>4 * e</b> +f+g+h+i</p>
<p>all_lines = total_sum + 3 * e</p>
<p>4 * line_sum = 3 * line_sum + 3 * e</p>
<p>line_sum = 3 * e</p>
<p>line_sum / 3 = e</p>
<p>15 / 3 = e</p>

In [6]:
s.update_df(1, 1, val=5)
s.df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

<h3>1 has to be somewhere</h3>
<p>either middle or corner</p>
<h4>A corner?</h4>
<table>
    <tr>
        <td><b>1</b></td>
        <td>b</td>
        <td>c</td>
    </tr>
    <tr>
        <td>d</td>
        <td><b>5</b></td>
        <td>f</td>
    </tr>
    <tr>
        <td>g</td>
        <td>h</td>
        <td><b>9</b></td>
    </tr>
</table>

In [7]:
# s.update_df(0,0,1) lecture is wrong on purpose
# s.update_df(2,2,9) lecture is wrong on purpose

<p>then b+c && d+g must = 14</p>
<p>b+c could be 6+8</p>

In [8]:
# s.update_df(0,1,6) lecture is wrong on purpose
# s.update_df(0,2,8) lecture is wrong on purpose

<p>no other numbers can sum to 14 so contradiction</p>
<p>so 1 is not in corner</p>
<p>so 1 must be on a side</p>
<table>
    <tr>
        <td>a</td>
        <td><b>9</b></td>
        <td>c</td>
    </tr>
    <tr>
        <td>d</td>
        <td><b>5</b></td>
        <td>f</td>
    </tr>
    <tr>
        <td>g</td>
        <td><b>1</b></td>
        <td>i</td>
    </tr>
</table>

<p>still must have 8&6 from before to = 14</p>
<table>
    <tr>
        <td>a</td>
        <td>9</td>
        <td>c</td>
    </tr>
    <tr>
        <td>d</td>
        <td>5</td>
        <td>f</td>
    </tr>
    <tr>
        <td><b>8</b></td>
        <td>1</td>
        <td><b>6</b></td>
    </tr>
</table>

In [9]:
b=9
h=1
g=8
i=6
s.update_df(0,1,b)
s.update_df(2,1,h)
s.update_df(2,0,g)
s.update_df(2,2,i)
s.df

   0  1  2
0  1  9  3
1  4  5  6
2  8  1  6

In [10]:
c = s.row_total - s.df.at[2,0] - s.df.at[1,1]
s.update_df(0,2,c)

In [11]:
a = s.row_total - s.df.at[2,2] - s.df.at[1,1]
s.update_df(0,0,a)
s.df

   0  1  2
0  4  9  2
1  4  5  6
2  8  1  6

<p>still must have 8&6 from before to = 14</p>
<table>
    <tr>
        <td><b>4</b></td>
        <td>9</td>
        <td><b>2</b></td>
    </tr>
    <tr>
        <td>d</td>
        <td>5</td>
        <td>f</td>
    </tr>
    <tr>
        <td>8</td>
        <td>1</td>
        <td>6</td>
    </tr>
</table>

In [12]:
d = s.row_total - s.df.at[0,0] - s.df.at[2,0]
s.update_df(1,0,d)

In [13]:
f = s.row_total - s.df.at[2,2] - s.df.at[0,2]
s.update_df(1,2,f)
s.df

   0  1  2
0  4  9  2
1  3  5  7
2  8  1  6

In [14]:
s.test.run()

Passed All Tests!

<h1>Multiplicative Magic Square</h1>
<p>same concept as above, but instead of rows / cols being added they are mutliplied</p>
<p>2^x+y = 2^x * 2^y</p>
<p>exponentiation: addition -> multiplication</p>
<table>
    <tr>
        <td>2^4</td>
        <td>2^9</td>
        <td>2^2</td>
        <td>2^15</td>
    </tr>
    <tr>
        <td>2^3</td>
        <td>2^5</td>
        <td>2^7</td>
        <td>2^15</td>
    </tr>
    <tr>
        <td>2^8</td>
        <td>2^1</td>
        <td>2^6</td>
        <td>2^15</td>
    </tr>
    <tr>
        <td>2^15</td>
        <td>2^15</td>
        <td>2^15</td>
        <td>2^15</td>
    </tr>
</table>

In [15]:
matrix1 = pd.DataFrame([
    [1,2,0],
    [0,1,2],
    [2,0,1]
])
matrix2 = pd.DataFrame([
    [0,2,1],
    [2,1,0],
    [1,0,2]
])

In [16]:
matrix1.pow(2)

   0  1  2
0  1  4  0
1  0  1  4
2  4  0  1

In [1]:
board_rows = 8
board_cols = 8
tile_size = 200
board_width = tile_size * board_rows
board_height = tile_size * board_cols

In [2]:
board_width // board_rows

200

In [3]:
board_width / board_rows

200.0

In [6]:
2%2

0