In [1]:
import numpy as np
import pandas as pd
#6 digit number starting by 100 and divisible by 9217

In [2]:
# "programming method"
for i in range(100000, 101000):
    if i % 9127 == 0:
        print(i)

100397

In [3]:
# "pen & paper" method
divisible_by = 9127
np.ceil(100000/divisible_by) * divisible_by

100397.0

In [4]:
_100_thru_999 = [x for x in range(100,1000)]
print("first", _100_thru_999[0])
print("last", _100_thru_999[-1])

first 100
last 999

In [5]:
_2_thru_7 = [x for x in range(2, 8)]
print("first", _2_thru_7[0])
print("last", _2_thru_7[-1])

first 2
last 7

In [6]:
# there exists a 3 digit number N-1 that produces a remainder
# 1 when divided by 2,3,4,5,6,7
N = []
for n in _100_thru_999:
    n_divisible_by_x = []
    for x in _2_thru_7:
        if n % x == 1:
            n_divisible_by_x.append(x)
    if len(n_divisible_by_x) == len(_2_thru_7):
        N.append(n)


N

[421, 841]

In [7]:
# 2 * 2 = 4
# 2 * 3 = 6
common_multiple = 2 * 2 * 3 * 5 * 7
first = common_multiple + 1
second = (common_multiple * 2) + 1 
print(first, second)

421 841

In [8]:
# find an integer n wher n**2 starts with 31415
# a number to start with
np.sqrt(31415)

177.2427713617681

In [44]:
len('27182')

5

In [45]:
# programatic method
N = []
for n in range(176, 1000000):
    x = n * n
    x_str = str(x)
    if x_str[:len('27182')] == '27182':
        N.append((n, x_str))


N

[(16487, '271821169'),
 (52137, '2718266769'),
 (164870, '27182116900'),
 (164871, '27182446641'),
 (164872, '27182776384'),
 (521364, '271820420496'),
 (521365, '271821463225'),
 (521366, '271822505956'),
 (521367, '271823548689'),
 (521368, '271824591424'),
 (521369, '271825634161'),
 (521370, '271826676900'),
 (521371, '271827719641'),
 (521372, '271828762384'),
 (521373, '271829805129')]

In [10]:
# faster method
easier1 = np.round(np.sqrt(31415) * 1000)
easier2 = np.round(np.sqrt(3141.5) * 10000)
print(easier1, easier2)

177243.0 560491.0

In [46]:
# quiz 
# 1 Find a 5-digit integer N such that N^2 starts with 27182.
easier1 = np.round(np.sqrt(27182) * 1000)
easier1

164870.0

In [11]:
# 2 ppl with 7/13 florin coins
# can one pay 6 florins to the other
person1 = 7 # florins 
person2 = 13 # florins
person2 - person1

6

In [12]:
# he worded this weird
# person 1 only has 7 flourin "dollars" so to speak
# person 2 only has 13 flourin "dollars" so to speak

# Is 1-florin payment possible when both people have 
# (unlimited amount) of 7- and 13-florin coins?
person1 * 2 - person2

1

In [18]:
# programatic
poss = []
for x in range(0,100):
    x_flourins = x * person1
    for y in range(0,100):
        y_flourins = y * person2
        resultant = x_flourins - y_flourins
        if resultant == 5:
            poss.append((x,y))
        #if len(poss) > 0:
        #    break


poss

[(10, 5), (23, 12), (36, 19), (49, 26), (62, 33), (75, 40), (88, 47)]

In [19]:
10*7 - 5*13

5

In [14]:
# easier is its possible to get 1 by 2*7 - 13
# its possible to get 2 by 4*7 - 2*13
4*person1 - 2*person2

2

In [ ]:
# 7x + 13y = c
# resultant has integer solutions
# resultant = A*person1 + B*person2

In [16]:
# programatic
poss = []
for x in range(0,1000):
    x_flourins = x * 15
    for y in range(0,1000):
        y_flourins = y * 21
        resultant = x_flourins - y_flourins
        if resultant == 3:
            poss.append((x,y))
        if len(poss) > 0:
            break


poss

[(3, 2)]

In [ ]:
# no because 15 and 21 are multiples of 3
# if all payables are multiples of 3 can't get 8 or 1
# 3 is possible so any multiple of 3 is payable
# euclids algorithm

Question 1
<br />
A town has three hotels. You have 10 vouchers for one-night stay for the first hotel, 15 for the second one, and 20 for the third one. The rules do not allow you to use vouchers for two consecutive nights in one hotel. Can you use them all for 10 + 15 + 20 = 45 consecutive nights changing the hotels each night?

In [41]:
hotels = {
    'a':2,
    'b':3,
    'c':4
}
nights = 45
available_hotels = len(list(hotels.keys()))
path = []
for night in range(int(nights/available_hotels)):
    for hotel in ['c','b','a']:
        if hotels[hotel] == 0:
            pass
        else:
            hotels[hotel] -= 1
            path.append(hotel)

            
previous = 'z'
exception = []
for p in path:
    if p == previous:
        exception.append(p)
    previous = p
    

if len(exception) > 0:
    print('not possible used same hotel at least twice in a row')
    print(exception)
    print(path)
else:
    print("possible")
    print(path)

possible
['c', 'b', 'a', 'c', 'b', 'a', 'c', 'b', 'c']

Question 2
<br />
A town has three hotels. You have 10 vouchers for one-night stay for the first hotel, 15 for the second one, and 30 for the third one. The rules do not allow you to use vouchers for two consecutive nights in one hotel. Can you use them all for 10 + 15 + 30 = 55 consecutive nights changing the hotels each night?

In [36]:
hotels = {
    'a':10,
    'b':15,
    'c':30
}
nights = 55
available_hotels = len(list(hotels.keys()))
path = []
for night in range(int(nights/available_hotels)):
    for hotel in list(hotels.keys()):
        if hotels[hotel] == 0:
            pass
        else:
            hotels[hotel] -= 1
            path.append(hotel)

            
previous = 'z'
exception = []
for p in path:
    if p == previous:
        exception.append(p)
    previous = p
    

if len(exception) > 0:
    print('not possible used same hotel at least twice in a row')
    print(exception)
else:
    print("possible")
    print(path)

not possible used same hotel at least twice in a row
['c', 'c', 'c']