In [4]:
# N queens
# 8 queens
import numpy as np
import pandas as pd
import string

A_H = [letter for letter in string.ascii_uppercase[:8]]
_0_7 = [number for number in range(8)]
chessboard = pd.DataFrame([
    ['0' for x in range(8)] for x in range(8)
], columns=_0_7, index=A_H)
queen = "Q"
unavail = 'U'
chessboard

   0  1  2  3  4  5  6  7
A  0  0  0  0  0  0  0  0
B  0  0  0  0  0  0  0  0
C  0  0  0  0  0  0  0  0
D  0  0  0  0  0  0  0  0
E  0  0  0  0  0  0  0  0
F  0  0  0  0  0  0  0  0
G  0  0  0  0  0  0  0  0
H  0  0  0  0  0  0  0  0

In [7]:
def fill_row(row):
    for col in _0_7:
        _at = chessboard.at[row, col]
        if _at != queen:
            chessboard.at[row, col] = unavail

            
def fill_col(col):
    for row in _0_7:
        _at = chessboard.at[row, col]
        if _at != queen:
            chessboard.at[row, col] = unavail


def fill_diag(row, col):
    for i in _0_7:
        row = i
        col = i
        _at = chessboard.at[row, col]
        if _at != queen:
            chessboard.at[row, col] = unavail
    
def place_queen(row, col):
    fill_row(row)
    fill_col(col)
    fill_diag(row,col)
    chessboard.at[row,col]=queen

In [8]:
place_queen(0,0)
chessboard

   0  1  2  3  4  5  6  7
0  Q  U  U  U  U  U  U  U
1  U  U  0  0  0  0  0  0
2  U  0  U  0  0  0  0  0
3  U  0  0  U  0  0  0  0
4  U  0  0  0  U  0  0  0
5  U  0  0  0  0  U  0  0
6  U  0  0  0  0  0  U  0
7  U  0  0  0  0  0  0  U

In [ ]:
row = 4
col = 0

    _at = chessboard.at[row, col]
        if _at != queen:
            chessboard.at[row, col] = unavail

In [5]:
A_H = [letter for letter in string.ascii_uppercase[:8]]
A_H.insert(0,'letter')

In [6]:
A_H

['letter', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [15]:
df = pd.DataFrame(
            data=[[None for i in range(9)] for j in range(9)],
            columns=[number for number in range(9)],
            index=[letter for letter in string.ascii_uppercase[:8]].insert(0, 'letters')
        )

In [20]:
df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8], dtype='int64')

In [22]:
df.index

RangeIndex(start=0, stop=9, step=1)

In [43]:
["Z"]+[letter for letter in string.ascii_uppercase[:8]]

['Z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [29]:
=

In [118]:
df = pd.DataFrame(
            data=[[(col*200, row*200) for col in range(9)] for row in range(9)],
            columns=[number for number in range(9)],
            index=['z']+[letter for letter in string.ascii_uppercase[:8]]
        )
df

,0,1,2,3,4,5,6,7,8
z,"(0, 0)","(200, 0)","(400, 0)","(600, 0)","(800, 0)","(1000, 0)","(1200, 0)","(1400, 0)","(1600, 0)"
A,"(0, 200)","(200, 200)","(400, 200)","(600, 200)","(800, 200)","(1000, 200)","(1200, 200)","(1400, 200)","(1600, 200)"
B,"(0, 400)","(200, 400)","(400, 400)","(600, 400)","(800, 400)","(1000, 400)","(1200, 400)","(1400, 400)","(1600, 400)"
C,"(0, 600)","(200, 600)","(400, 600)","(600, 600)","(800, 600)","(1000, 600)","(1200, 600)","(1400, 600)","(1600, 600)"
D,"(0, 800)","(200, 800)","(400, 800)","(600, 800)","(800, 800)","(1000, 800)","(1200, 800)","(1400, 800)","(1600, 800)"
E,"(0, 1000)","(200, 1000)","(400, 1000)","(600, 1000)","(800, 1000)","(1000, 1000)","(1200, 1000)","(1400, 1000)","(1600, 1000)"
F,"(0, 1200)","(200, 1200)","(400, 1200)","(600, 1200)","(800, 1200)","(1000, 1200)","(1200, 1200)","(1400, 1200)","(1600, 1200)"
G,"(0, 1400)","(200, 1400)","(400, 1400)","(600, 1400)","(800, 1400)","(1000, 1400)","(1200, 1400)","(1400, 1400)","(1600, 1400)"
H,"(0, 1600)","(200, 1600)","(400, 1600)","(600, 1600)","(800, 1600)","(1000, 1600)","(1200, 1600)","(1400, 1600)","(1600, 1600)"

In [113]:
np.diag(df[[0,1,2]].loc[["A","B","C"]] ,k=1)

array([(200, 200), (400, 400)], dtype=object)

In [134]:
col = 2
cols = [c for c in [col + 1, col - 1] if c > 0]
row = "A"

a_df = df[cols].loc[row]
for r_c in a_df:
    print(r_c)
    print(r_c[0])
    #print(df.at[row, col])

(600, 200)
600
(200, 200)
200

In [139]:
True in [True,False,False]

True